<!DOCTYPE html>
<html>

    <%- include('./head.ejs', {title: title}); %>

    <body>
        <% if (title) { %>
        <h1>Hello, <%= title %></h1>
        <% } else { %>
        <h1> Hello, world </h1>
        <% } %>

        <% for (const post of required.posts) { %>
        <a href="<%= post.href %>"><%= post.title %></a>
        <% } %>

        <%- content %>
    </body>

</html>